<%- include('partials/_header') %>

<div class="container">
  <div class="row">
    <div class="col-md-5 offset-md-3">
      <div class="card">
        <div class="card-body">
          <form action="/api/categories/<%=category._id%>?_method=PUT" method="POST">
            <h2>Category</h2>
            <div class="form-group">
              <input type="text" name="title" placeholder="Insert a Title" class="form-control" value="<%=category.title%>">
            </div>
            <h2>Description</h2>
            <div class="form-group">
              <textarea name="description" cols="80" class="form-control" placeholder="Insert a Descriptiion" ><%=category.description%></textarea>
            </div>
            <button type="submit" class="btn btn-danger">Update</button>
            <a href="/" class="btn btn-primary">Back</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/_footer') %>
